#military-discount-panel.panel.panel-primary
  .panel-heading
    %button.close{"data-dismiss" => "alert", "data-target" => "#military-discount-panel", :type => "button"}
      %span{"aria-hidden" => "true"} ×
      %span.sr-only Close
    .panel-title Military discount
  .panel-body
    .idme-btn-container
      %a.idme-btn{:href => "#{user_omniauth_authorize_path(:idme)}"}
        %img.idme-btn-primary-sm-Troop{:alt => "Verify with ID.me Troop ID", :border => "0", :src => "https://s3.amazonaws.com/idme/buttons/new/btn-primary-sm-Troop.png"}/
      %span.idme-btn-affinity 
        Retired or active-duty military? 
        = link_to " log in with ID.me ", user_omniauth_authorize_path(:idme)
        and receive 10% off your purchase!
      %span.idme-btn-verification
        %img.idme-btn-lock{:alt => "Lock", :src => "https://s3.amazonaws.com/idme/assets/lock.png", :width => "8"}>/
        = " Verification by ID.me"
        %br/
        %a#modal-open{:href => "https://www.id.me/how-it-works"} • What is ID.me?
