#omniauth-callback-display-panel
  .panel.panel-primary
    .panel-heading
      %button.close{"data-dismiss" => "alert", "data-target" => "#omniauth-callback-display-panel", type: "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      .panel-title Omniauth Callback
    .panel-body
      = "#{@omniauth_raw}"