%h1 Our Products

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Price
        %th Availability
        %th{:colspan => "3"}
    %tbody
      - @products.each do |product|
        %tr
          %td= link_to product.name, product
          %td= product.description
          %td= number_to_currency(product.price, precision: 2)
          %td= product.stock > 0 ? new_order_items_path(product) : "Out of stock"

