%h3 Our Products

.table-responsive
  %table.table.table-hover
    %thead
      %tr
        %th Name
        %th Description
        %th Price
        %th{:colspan => "3"}
    %tbody
      - @products.each do |product|
        %tr
          %td= link_to product.name, product
          %td= product.description
          %td= number_to_currency(product.price, precision: 2)
          %td
            - if product.stock > 0
              = button_to "Add to Cart", add_order_item_path(product_id: product.id), class: "btn btn-primary btn-default"
            - else
              "Out of stock"

